@font-face {
    font-family: 'ZnikomitNo25';
    src: local('ZnikomitNo25'), url('znikomitno25.woff2') format('woff2'), url('znikomitno25.woff') format('woff'), url('znikomitno25.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
