<div class="flex blocks p-[10px] lg:p-[20px] flex-wrap md:flex-nowrap">
  <div class="flex-col">
    <h2>О нашей компании</h2>
    <p class="mb-4 md:mb-5">Частное предприятие "ТониГрупп" является официальным Дистрибьютором крупнейшего производителя систем вентиляции и вентиляционного оборудования в России торговой марки «KORF» в Республике Беларусь. Основные наши задачи – оптовая торговля, техническая поддержка продаж и инжиниринг.</p>
    <p>На сегодняшний день российская компания-производитель КОРФ является для нас единственным партнером. С нами вы получаете доступ к самым передовым технологиям, инновационным разработкам и новаторским идеям в области систем вентиляции.</p>
  </div>
  <img src="../../../assets/images/serf1.jpg" alt="сертификат ТониГрупп" class="w-[50vw] sm:w-[40vw] md:w-[24vw] xl:w-80 rounded-[9px] lg:mb-0 mb-5">
</div>
<div class="flex-col blocks py-[30px]">
  <h2>Производство под маркой КОРФ - это</h2>
  <div class="flex flex-wrap justify-center text-center gap-y-5">
    @for (col of aboutCols; track col) {
       <div class="w-2/3 md:w-1/2 xl:w-[40%] border-white lg:p-[1.5vw]">
         <div class="lg:mb-5 mb-3 font-medium text-[20px] lg:text-[24px] xl:text-[26px] text-dY">{{col.numbers}}</div>
         <div class="text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px]">{{col.text}}</div>
       </div>
    }
  </div>
</div>
<div class="flex-col blocks p-[30px] text-center">
  <h2>Производство</h2>
  <p class="mb-5">На протяжении многих лет Компания «КОРФ» развивалась и совершенствовала свою работу, руководствуясь главной целью: предоставить на мировой рынок современное и доступное российское оборудование высокого качества.</p>
  <div class="flex flex-col h-[200px] sm:h-[350px] md:h-[400px] lg:h-[450px] xl:h-[500px] items-center justify-center w-full backdrop-blur-lg bg-black/55 relative rounded-md overflow-hidden" id="scrollBox">
      <ul class="flex overflow-y-hidden overflow-x-scroll snap-x snap-mandatory w-full no-scrollbar relative h-[300px] sm:h-[350px] md:h-[400px] lg:h-[450px] xl:h-[500px]" id="aboutScrollBar">
        <li class="flex-shrink-0 w-full snap-center flex justify-center items-center overflow-hidden">
          <img [src]="sliderImages[sliderImages.length - 1].src" [alt]="sliderImages[0].alt" class="min-w-full min-h-[200px] sm:min-h-[350px] md:min-h-[400px] lg:min-h-[450px] xl:min-h-[500px]">
        </li>
        @for (image of sliderImages; track image) {
          <li class="flex-shrink-0 w-full snap-center flex justify-center items-center overflow-hidden">
            <img [src]="image.src" [alt]="image.alt" class="min-w-full min-h-[200px] sm:min-h-[350px] md:min-h-[400px] lg:min-h-[450px] xl:min-h-[500px]">
          </li>
        }
        <li class="flex-shrink-0 w-full snap-center flex justify-center items-center overflow-hidden">
          <img [src]="sliderImages[0].src" [alt]="sliderImages[0].alt" class="min-w-full min-h-[200px] sm:min-h-[350px] md:min-h-[400px] lg:min-h-[450px] xl:min-h-[500px]">
        </li>
      </ul>
      <button class="flex justify-start items-center pl-[0.5vw] h-[200px] sm:h-[350px] md:h-[400px] lg:h-[450px] xl:h-[500px] absolute top-0 left-0 w-[10vw] hover:bg-white/10 duration-200 rounded-md active:bg-white/25" (click)="swipeImg(-1)" title="back">
        <img src="../../../assets/svg/arrows.png" alt="arrow" class="lg:w-8 rotate-180">
      </button>
      <button class="flex justify-end items-center pr-[0.5vw] h-[200px] sm:h-[350px] md:h-[400px] lg:h-[450px] xl:h-[500px] absolute top-0 right-0 w-[10vw] hover:bg-white/10 duration-200 rounded-md active:bg-white/25" (click)="swipeImg(1)" title="next">
        <img src="../../../assets/svg/arrows.png" alt="arrow" class="lg:w-8">
      </button>
  </div>
</div>
<div class="flex-col blocks p-[30px] border-none pb-[20px]">
  <h2 class="lg:mb-12 mb-6">15 причин почему стоит выбрать КОРФ</h2>
  <div class="flex flex-wrap lg:flex-nowrap lg:gap-x-12 text-left">
    <ul class="listBox lg:mb-0 mb-4">
      @for (reasan of reasensBase.slice(0, reasensBaseL); track reasan) {
        <li class="relative">{{reasan}}</li>
      }
    </ul>
    <ul class="listBox">
      @for (reasan of reasensBase.slice(reasensBaseL); track reasan) {
        <li class="relative">{{reasan}}</li>
      }
    </ul>
  </div>
</div>

