<div class="h-[90vw] w-[90vw] -top-[50vw] left-[-40vw] circle"></div>
<div class="h-[30vw] w-[30vw] top-[20vw] left-[-10vw] circle"></div>
<div class="h-[80vw] w-[80vw] -top-[20vw] right-[-40vw] circle"></div>
<div class="h-[50vw] w-[50vw] top-[15vw] right-[-10vw] circle"></div>
<div class="h-[100vw] w-[100vw] top-[70vw] right-[-40vw] circle"></div>
<div class="h-[20vw] w-[20vw] top-[67vw] right-[17vw] circle"></div>
<div class="h-[90vw] w-[90vw] top-[110vw] right-[-40vw] circle"></div>
<div class="h-[70vw] w-[70vw] top-[55vw] left-[-20vw] circle"></div>
<div class="h-[50vw] w-[50vw] top-[90vw] left-[-40vw] circle"></div>
<div class="h-[30vw] w-[30vw] top-[62vw] left-[14vw] circle"></div>
<div class="h-[10vw] w-[10vw] top-[108vw] right-[11vw] circle"></div>
<div class="h-[15vw] w-[15vw] top-[115vw] right-[28vw] circle"></div>
<div class="h-[55vw] w-[55vw] top-[145vw] left-[-10vw] circle"></div>

<div class="h-[15vw] w-[15vw] top-[115vw] left-[20vw] circle"></div>
<div class="h-[20vw] w-[20vw] top-[145vw] left-[20vw] circle"></div>
<div class="h-[140vw] w-[140vw] top-[205vw] left-[-70vw] circle"></div>
<div class="h-[130vw] w-[130vw] top-[195vw] right-[-60vw] circle"></div>
<div class="h-[25vw] w-[25vw] top-[155vw] right-[0] circle"></div>
<div class="h-[20vw] w-[20vw] top-[182vw] left-[22vw] circle"></div>

<div class="h-[70vw] w-[70vw] top-[215vw] left-[-40vw] circle"></div>
<div class="h-[50vw] w-[50vw] top-[235vw] right-[10vw] circle"></div>
<div class="h-[10vw] w-[10vw] top-[200vw] right-[30vw] circle"></div>
<div class="h-[10vw] w-[10vw] top-[238vw] right-[12vw] circle"></div>
<div class="h-[10vw] w-[10vw] top-[218vw] left-[12vw] circle"></div>
<div class="h-[12vw] w-[12vw] top-[230vw] right-[27vw] circle"></div>
<div class="h-[8vw] w-[8vw] top-[255vw] right-[6vw] circle"></div>

<div class="h-[120vw] w-[120vw] top-[280vw] right-[10vw] circle"></div>
<div class="h-[40vw] w-[40vw] top-[310vw] left-[10vw] circle"></div>
<div class="h-[40vw] w-[40vw] top-[284vw] right-[-10vw] circle"></div>
<div class="h-[10vw] w-[10vw] top-[300vw] right-[47vw] circle"></div>
<div class="h-[10vw] w-[10vw] top-[287vw] right-[56vw] circle"></div>

<div class="h-[140vw] w-[140vw] top-[380vw] right-[10vw] circle"></div>
